@model Employee



<form method="post">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Name" required>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Department">Department</label>
            <input asp-for="Department" class="form-control" placeholder="Department" required>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Company">Company</label>
            <input asp-for="Company" class="form-control" placeholder="Company" required>
        </div>


        <button class="btn btn-primary" type="submit">Submit form</button>
</form>
